.userInfoContainer {
    padding: 30px;
    > .title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    > .userInfo {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
        

        >.infoList {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 10px;

            >input {
                padding: 10px;
                font-size: 14px;
                border: none;
                outline: none;
                color: #333;
            }
        }

        >.accountAvatar {
            flex: 1;
            border-left: 1px solid #ccc;

            >div img {
                width: 200px;
                height: 200px;
                border-radius: 100rem;
                margin: 0 auto;
                display: block;
            }

            .uploadImage {
                border: 1px solid #ccc;
                padding: 7px 29px;
                display: block;
                margin: 20px auto;
            }
        }
    }

    >button {
        border: none;
        outline: none;
        padding: 10px 30px;
        background-color: #337AB7;
        color: white;
        font-weight: bold;
        font-size: 16px;
        margin-top: 20px;
    }
}