.manage-user-container {
    padding-left: 25px;

    .users-content {
        .btn-plus {
            margin-right: 6px;
        }
    }

}

.modal-add-user {
    .img-preview {
        width: 500px;
        height: 500px;

        img {
            width: 400px;
            height: 400px;
            object-fit: cover;
            margin: 0 auto;
        }


    }
}