.wrapper {
    padding: 20px 50px 30px;

    .title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    .infoList {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        >input {
            padding: 10px;
            font-size: 14px;
            border: none;
            outline: none;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 6px;
        }
    }

    .btn-prescription {
        border: 1px solid #337AB7;
        padding: 10px 20px;
        display: block; 
        border-radius: 5px;

        &:hover {
            background-color: #337AB7;
            color: #fff;
            transition: right linear 0.4s;
        }
    }

    .main-prescription {
        display: flex;
        gap: 100px;
    }

}