.medicalHistory {
    padding: 30px 50px;
    >.title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .header {
        display: flex;
        gap: 50px;

        >h1 {
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        .search {
            height: 45px;
        }

        .currentSchedule {
            border: 1px solid #ccc;
            height: 45px;
            background-color: #337AB7;
            color: white;
            padding: 10px 20px;
            border-radius: 4px;
        }
    }
}